<template name="todo_list">
    <a href="#" class="btn glyphicon glyphicon-plus js_make_new_list">  Make a new List</a>
    <div class="hidden-div" id="hidden-div">
        <form class="form form-group js_create_list">
            <input type="text" name="new_list" id="new_list" placeholder="enter new list name">
            <button type="submit" class="btn btn-primary-sm ">Create List</button>
        </form>
    </div>
    <h3>Task List for  {{user}}</h3>
    <ul style="list-style:none">
        {{#each todo}} {{> todo_items}} {{/each}}
    </ul>
</template>


