<!-- TODO FORM
 -->
<template name="new_todo_form">
    <form class="navbar-form navbar-left js_add_todo" role="search">
        <div class="form-group">
            <label for="new-todo">New todo</label>
            <input type="text" id="new_todo" class="form-control" placeholder="Enter new todo item">
            <input type="date" id="due_date" class="form-control" placeholder="due date...">
        </div>
        <button type="submit" class="btn btn-default ">Submit</button>
    </form>
</template>