<template name="todo_list">
    <h3>Task List</h3>
    <ul style="list-style:none">
        {{#each todo}} {{> todo_items}} {{/each}}
    </ul>
</template>
<!-- TODO ITEM
 -->
<template name="todo_items">
    <li>
        <div class="list-group">
            <a href="#" class="list-group-item">
            <strong>{{name}} </strong> <br><span class="blue"> Created On:</span>  <strong>{{createdOn}} </strong>   <span class="blue"> Due: </span>  <strong>{{due}}</strong>
                
            </a>
        </div>
    </li>
</template>
